server {
	server_name webserv0.1;
	listen 	5500;
	root /Users/mechane/Desktop/webserv/Session;
	upload on;
	client_max_body_size 1;

	location /{
		autoindex on;
		root /Users/mechane/Desktop/webserv/Session/;
		return 301 index.html;
		allowed_methods GET POST DELETE;
	}
	location /upload{

		root /Users/mechane/Desktop/webserv/;
		allowed_methods GET POST DELETE;
		upload_path /Users/mechane/Desktop/webserv/Session/;
		autoindex on;
	}
	location .py{
		cgi_path /ghgbhj;
	}
}

