server {
	server_name webserv0.1;
	listen 	5500;
	root /Users/mechane/Desktop/webserv/Session;
	upload on;
	error_page 404 409  413 /error/404.html;

	location /{
		autoindex on;
		root /Users/mechane/Desktop/webserv/Session/;
		upload_path /Users/mechane/Desktop/webserv/Session/uplaod;

		allowed_methods GET POST DELETE;
	}
	location /upload{

		root /Users/mechane/Desktop/webserv/;
		allowed_methods GET POST DELETE;
		upload_path /Users/mechane/Desktop/webserv/Session/;
		autoindex on;
	}
	location .py{
		cgi_path /usr/local/bin/python3;
		allowed_methods GET POST DELETE;
	}

	location .php{
		cgi_path /usr/bin/php;
		allowed_methods GET POST DELETE;
	}
}

