server {
	server_name webserv0.1;
	listen 	5500;
	root /Users/azari/Desktop/webserv/Session;
	upload on;
	client_max_body_size 1;
	error_page 404 409  413 /error/404.html;

	location /{
		autoindex on;
		root /Users/azari/Desktop/webserv/Session/;

		allowed_methods GET POST DELETE;
	}
	location /upload{

		root /Users/azari/Desktop/webserv/;
		allowed_methods GET POST DELETE;
		upload_path /Users/azari/Desktop/webserv/Session/;
		autoindex on;
	}
	location .py{
		cgi_path /ghgbhj;
	}

	location .mok{
		cgi_path /moktani;
	}
}

