server {
	server_name webserv0.1;
	listen 	5500;

	root /Users/mechane/Desktop/webserv/Session;
	upload on;
	error_page 404  /error_pages/404.html;
	error_page 408  /error_pages/408.html;
	error_page 409  /error_pages/409.html;
	error_page 413  /error_pages/413.html;
	error_page 500  /error_pages/500.html;
	error_page 501  /error_pages/501.html;

	location /{
		autoindex off;
		root /Users/mechane/Desktop/webserv/Session/;
		upload_path /Users/mechane/Desktop/webserv/Session/upload;
		allowed_methods GET POST DELETE;
		index welcome.html;
	}
	location /upload{

		upload_path /Users/mechane/Desktop/webserv/Session/upload;
		root /Users/mechane/Desktop/webserv/Session/upload;
		allowed_methods GET POST DELETE;
		autoindex on;
	}

	location /redirect/mechane.html{
		autoindex off;
		return 301 https://github.com/meddch;
	}

	location /redirect/azari.html{
		autoindex off;
		return 301 https://github.com/ZaariAnas;
	}

	location .py{
		cgi_path /usr/local/bin/python3;
		allowed_methods GET POST DELETE;
	}

	location .php{
		cgi_path /usr/bin/php;
		allowed_methods GET POST DELETE;
	}

	location .js{
		cgi_path /usr/local/bin/node;
		allowed_methods GET POST DELETE;
	}
}

server {
	server_name webservv0.2;
	listen 	5500;

	root /Users/mechane/Desktop/webserv/Session/img;
	upload on;

	location /{
	root /Users/mechane/Desktop/webserv/Session/img;
		autoindex on;
		allowed_methods GET POST DELETE;
	}
}